*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.App{
  flex-direction: column;
  font-family: Montserrat;
  color: #333333;
}
h1{
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
}
h3{
  font-size: 18px;
  line-height: 20px;
  font-weight: 500; 
  text-align: left;
}
/*--------------Header Style ---------------*/
.logo{
  width: 110px;
}
header{
  padding: 30px 40px 0px 40px;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.searchSection{
  width: 300px;
  height: 58px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  display: grid;
  grid-template-columns: 45% 35% 20%;
}
.searchSection button{
  background-color: #ffffff;
  border-radius: none;
  height: 55px;
  font-size: 16px;
  padding: 3px;
}
.guest-btn{
  border-right: 1px solid silver;
  border-left: 1px silver solid;
  border-top: none;
  border-bottom: none;
}
.city-btn{
  border: none;
}
.city-btn img{
  width: 30px;
  height: 30px;
}
/* Search Menu Style -------*/
.search{
  text-align: left;
  position: absolute;
  top: 5px;
  width: 99.9%;
  height: 460px;
  display: none;
  padding: 50px 0px 0px 0px;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
}
.search-form{
  align-self: center;
  display: grid;
  grid-template-columns: 40% 40% 20%;
  gap: 7px;
  grid-template-rows: 55px;
  border-radius: 16px;
  box-shadow:0px 1px 6px rgba(0, 0, 0, 0.1);
  width: 85%;
  padding: 5px;
}
.search-form div{
  border-radius: 16px;
  padding-top: 2px;
}
.submitSearch{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eb5757;
  border-radius: 16px;
  border: none;
  width: 127px;
  height: 48px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  color: white;
  font-size: 16px;
}
.submitSearch img{
  width: 17px;
  height: 17px;
}
.search-detail{
  width: 85%;
  align-self: center;
  margin: 10px 0px 0px 0px;
  height: 300px;
  display: grid;
  grid-template-columns: 40% 40%;
  position: relative;
}
.detail-city,
.detail-guest{
  padding: 10px;
  display: none;
}
.detail-guest{
  position: absolute;
  left: 40%;
  width: 450px;
  height: 300px;
  margin-left: 8px;
}
/*--------Input Form Style -----------*/
.input-form{
  display: flex;
  flex-direction: column;
  padding: 4px 2px 2px 10px;
  font-size: 18px;
}
.input-form input{
  outline: none;
  border: none;
  font-size: 14px;
  margin-top: 5px;
  width: 200px;
}

/*-------------Place Style ----------*/
.placeSection{
  flex-direction: column;
  padding: 30px 40px 0px 40px;
  width: 100%;
  min-height: 1000px;
  display: flex;
  align-items: center;
}
.title-place{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
}
.bannerHost{
  width: 96%;
  height: 280px;
  border-radius: 24px;
}
.hosts{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 20%);
}
.host-section{
  margin-bottom: 15px;
  margin-left: 5px;
  height: auto;
}
.host-section h3{
  padding: 3px 10px 3px 10px;
}
.rating{
  display: flex;
  color: #4f4f4f;
}
.rating img{
  width: 16px;
  height: 16px;
}
.hostDetail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 6px 3px 10px; 
}
.type{
  color: #828282;
  font-size: 14px;
  line-height: 17px;
}
.super{
  width: 100px;
  height: 28px;
  border-radius: 12px;
  border: 1px solid #4f4f4f;
  padding: 5px;
  font-size: 14px;
}
/*----------Tips City Form --------*/
.tipsCity{
  display: flex;
  margin: 10px 0px 20px 0px;
}
.tipsCity img{
  margin-right: 7px;
  width: 20px;
  height: 20px;
}
/*-------------Control Of Add Guest ------------*/
.control-Add{
  display: flex;
}
.controls{
  width: 23px;
  height: 23px;
  border: solid 1px #828282;
  border-radius: 4px;
  text-align: center;
  font-size: 20px;
  background: none;
  margin: 10px 10px 10px 0px;
}
.addGuest{
  margin-top: 10px;
  margin-bottom: 20px;
}
.cityname{
  margin: 10px 0px 10px 0px;
}
.control-add{
  margin-left: 10px;
}
/*-----------Footer --------------*/
footer {
  margin-top: 50px;
}

footer p {
  text-align: center;
  color: rgb(144, 142, 142);
  font-size: 16px;
}

footer a {
  color: rgb(103, 102, 102);
}
.visibility{
  display: block;
}
.invisibility{
  display: none;
}
.borderFocus{
  border: solid 1px #828282;
}